{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.description }}</p>
    <p>Réalisé par {{ movie.director.firstName }} {{ movie.director.lastName }}</p>

    <a href="{{ path('app_movies_list') }}">Retour à la liste</a>
{% endblock %}
